<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">About</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ducimus consequatur odit, error tempore culpa recusandae commodi modi molestiae at dolorem sunt quam animi consectetur. Ipsum voluptates at excepturi hic?
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contact</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                <li><i class="fa-solid fa-phone"></i> (00) 0000-0000</li>
                <li><i class="fa-solid fa-whatsapp"></i> (00) 0 0000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; All rights reserved
    </section>
</footer>
